.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(30, 38%, 92%);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91vh;
    height: 70vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2vh;
}

.product-image{
    height: 70vh;
    width: 50%;
    background-image: url("./images/image-product-desktop.jpg");
    background-size: cover;
    border-bottom-left-radius: 2vh;
    border-top-left-radius: 2vh;
}

.reference{
    text-align: left;
    height: 70vh;
    width: 50%;
}
.reference h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 3px;
    margin-top: 4ch;
    margin-left: 4.5ch;
    color: hsl(228, 12%, 48%);
}
.reference h1{
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    margin-right: 4ch;
    margin-left: 5vh;
    line-height: 1;
    font-weight: 700;
}
.reference p{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    line-height: 1.7;
    margin-left: 4ch;
    margin-right: 6ch;
}
.reference h2{
    font-family: 'Fraunces', serif;
    margin-left: 5vh;
    color: hsl(158, 36%, 37%);
    font-size: 35px;
}
.reference span{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 0px;
    vertical-align: middle;
    text-decoration: line-through;
}
.reference button{
    height: 45px;
    width: 75%;
    margin-left: 5vh;
    margin-right: auto;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.reference button svg{
    vertical-align: middle;
    padding-right: 5px;
}
.reference button:hover{
    background-color: hsl(156, 42%, 18%);
    cursor: pointer;
}

@media only screen and (width:375px){
    .container{
        display: flex;
        flex-direction: row;
    }
    .box{
        display: block;
        width: 42vh;
        height: 78vh;
    }
    .product-image{
        background-image: url("./images/image-product-mobile.jpg");
        background-size: cover;
        width: 42vh;
        height: 37%;
        border-top-right-radius: 2vh;
        border-bottom-left-radius: 0px;
    }
    .reference{
        width: 40vh;
        height: 60%;
    }
    .reference h3{
        margin-top: 2ch;
        margin-left: 2ch;
    }
    .reference h1{
        margin-left: 2.5vh;
        margin-right: 2vh;
        font-size: 25px;
    }
    .reference p{
        margin-left: 2.5ch;
        margin-right: 1ch;
        font-size: 11.5px;
    }
    .reference h2{
        margin-top: 5px;
        margin-left: 3vh;
        margin-bottom: 2vh;
    }
    .reference span{
        font-size: 11.5px;
        vertical-align: middle;
    }
    .reference button{
        margin-left: 3vh;
        width: 90%;
        font-size: 11.5px;
    }
}
